<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/navigation.css" rel="stylesheet">
    <link href="/styles/list.css" rel="stylesheet">
    <title>This Side of Capital</title>
  </head>
  <body>
    <header>
      This Side of Capital
    </header>
    <nav>
      <div class="nav_menu">
  <a href="/users" class="active">Home</a>
  <a href="/merchants">Merchants</a>
  <a href="/tags">Tags</a>
  <a href="/transactions">Transactions</a>
</div>
    </nav>
    <main>
      <section>
        <%= yield %>
      </section>
    </main>
    <aside>
      <!-- Secondary navigation or additional modules go here -->
    </aside>
    <footer>
      Made by ABS
    </footer>
  </body>
</html>
