<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/navigation.css" rel="stylesheet">
    <link href="/styles/list.css" rel="stylesheet">
    <link href="/styles/tables.css" rel="stylesheet">
    <link href="/styles/fonts.css" rel="stylesheet">
    <title>Penny</title>
    <link rel="icon" href="/images/money-bag.png">
  </head>
  <body>
    <header>
      <img src="/images/money-bag.png" alt="logo" />
      <h1>Penny</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/users" class="active">Home</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/transactions">Transactions</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <%= yield %>
      </section>
    </main>
    <aside>
      <!-- Secondary navigation or additional modules go here -->
    </aside>
    <footer>
      Made by ABS
    </footer>
  </body>
</html>
