
ul li  {
  color: #000;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

section ul li {
  background-color: #D90368;
  color: white;
  border: 2px;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  font-size: 1rem;
  display: inline;
}

section ul li a {
  color: inherit;
  font-family: 'Raleway', serif;
}

input[type = submit] {
  background-color: #04AF76;
  font-family: 'Raleway', serif;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
}

form {
  float:right;
  padding: 10px;
}
