.nav_menu {
    width: 300px;
}

.nav_menu a {
    background-color: #0B2545;
    color: white;
    display: block-inline;
    padding: 12px;
    text-decoration: none;
    outline: 20px, #D90368;
}

.nav_menu a:hover {
    background-color: #134074;
}

.nav_menu a.active {
    background-color: #285180;
    color: white;
}
