
body {
  background-color: #0B2545;
}

main {
  color: #fff;
  margin-top: 10rem;
  font-family: 'Raleway', serif;
}

#user_page {
  position: absolute;
  top: 40%;
  left: 25%;
  font-family: 'Arvo', serif;
  height: 40%;
  background-color: #fff;
  width: 50%;
  border: 0.2rem solid #D90368;
  border-radius: 5px;

  color: #D90368;
}

#user_page a {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10rem;
  float: center;
}

header {
  grid-area: head;
  background-color: #fff;
  color:#0B2545;
  margin-bottom: 15px;
  padding: 20px;
  font-family: 'Arvo', serif;
  width: 20%;
  float:left;
  margin-right: 35%;
  border: 0.2rem solid #D90368;
  border-radius: 5px;
}

header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #fff;
}

.container > main {
  grid-area: main;
  background-color: #134074;
  margin-top: 5rem;
}

.container > footer {
  grid-area: foot;
  background-color: #8DA9C4;
}
