<h1>Merchants</h1>

<ul>
  <% for merchant in @merchants %>
    <li><a href = "merchants/<%= merchant.id %>"><%= merchant.name %></a></li>
    <li><a href = "merchants/<%= merchant.id %>/edit">Edit Merchant:<%= merchant.name %></a></li>
<% end %>
</ul>


<form method="post" action="/merchants">
    <label for="Add Merchant">Name:</label>
    <input id="name-field" type="text" name="add merchant" />

    <input type='submit' value="Add Merchant"/>
</form>
