<h1>Merchants</h1>

<ul>
  <% for merchant in @merchants %>
  <li id = "one">
  <p>Name:<a href= "merchants/<%= merchant.id %>" ><%= merchant.name %></a>
  </p>
</li>
<% end %>
</ul>

<form method="post" action="/merchants">
    <label for="name">Name:</label>
    <input id="name-field" type="text" name="name" />

    <input type='submit' value="Add Merchant"/>
</form>
