<h1>Tags</h1>

<ul>
  <% for tag in @tags %>
    <li><a href = "tags/<%= tag.id %>"alue="<%= tag.name %>"><%= tag.name %></a></li>
<% end %>
</ul>

<li><a href="/users" class="active">Home</a></li>

<form method="post" action="/tags">
    <label for="name"></label>
    <input id="name-field" type="text" name="name" />

    <input type='submit' value="Add Tag"/>
</form>
