<h1>Tags</h1>

<ul>
  <% for tag in @tags %>
    <button id="tag_button" href= "tags/<%= tag.id %>" type="button"><%= tag.name %></button>
<% end %>
</ul>

<form method="post" action="/tags">
    <label for="name">Name:</label>
    <input id="name-field" type="text" name="name" />

    <input type='submit' value="Add Tag"/>
</form>
