<p>Name: <%= @tag.name %></p>

<div>
  <form action="/tags/<%= @tag.id %>/edit" method = "get">
    <input class="button" type="submit" value="Edit Tag" />
  </form>

  <form action="/tags/<%= @tag.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete Tag" />
  </form>
</div>

<h1>Warning!</h1>
If you delete a tag you will also delete the transactions associated with it 
